/**
 * ----------------------------------------------------------------------------------------
 * Custom styles / overwrite predefined styles 
 * ----------------------------------------------------------------------------------------
 */

 header {
 	background: $primary;
 }

 aside {
 	background: $secondary;
 	@include breakpoint(md) {
		background: $primary;
	}
 }